<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{155,122}</string>
                <key>spriteSourceSize</key>
                <string>{159,144}</string>
                <key>textureRect</key>
                <string>{{639,147},{155,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>100_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,144}</string>
                <key>spriteSourceSize</key>
                <string>{159,144}</string>
                <key>textureRect</key>
                <string>{{597,1},{159,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,2}</string>
                <key>spriteSize</key>
                <string>{151,124}</string>
                <key>spriteSourceSize</key>
                <string>{159,144}</string>
                <key>textureRect</key>
                <string>{{305,812},{151,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,139}</string>
                <key>spriteSourceSize</key>
                <string>{153,139}</string>
                <key>textureRect</key>
                <string>{{758,1},{153,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,136}</string>
                <key>spriteSourceSize</key>
                <string>{163,136}</string>
                <key>textureRect</key>
                <string>{{1,812},{163,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,139}</string>
                <key>spriteSourceSize</key>
                <string>{164,139}</string>
                <key>textureRect</key>
                <string>{{139,812},{164,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-5}</string>
                <key>spriteSize</key>
                <string>{323,278}</string>
                <key>spriteSourceSize</key>
                <string>{337,288}</string>
                <key>textureRect</key>
                <string>{{353,528},{323,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{155,122}</string>
                <key>spriteSourceSize</key>
                <string>{159,144}</string>
                <key>textureRect</key>
                <string>{{639,304},{155,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>16001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{134,140}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{913,1},{134,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>16001_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{134,140}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{913,137},{134,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>16002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{577,808},{110,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16002_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{763,440},{110,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{431,808},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{909,437},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{678,552},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{824,583},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{689,822},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{835,729},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,147}</string>
                <key>spriteSourceSize</key>
                <string>{146,147}</string>
                <key>textureRect</key>
                <string>{{763,142},{146,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,144}</string>
                <key>spriteSourceSize</key>
                <string>{145,144}</string>
                <key>textureRect</key>
                <string>{{909,291},{145,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,147}</string>
                <key>spriteSourceSize</key>
                <string>{144,147}</string>
                <key>textureRect</key>
                <string>{{763,291},{144,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basic.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,122}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{689,698},{126,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,12}</string>
                <key>spriteSourceSize</key>
                <string>{100,14}</string>
                <key>textureRect</key>
                <string>{{1034,583},{98,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hp_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,14}</string>
                <key>spriteSourceSize</key>
                <string>{100,14}</string>
                <key>textureRect</key>
                <string>{{139,953},{100,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pao_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,316}</string>
                <key>spriteSourceSize</key>
                <string>{350,316}</string>
                <key>textureRect</key>
                <string>{{1,176},{350,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pao_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{350,284}</string>
                <key>spriteSourceSize</key>
                <string>{350,316}</string>
                <key>textureRect</key>
                <string>{{353,176},{350,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pao_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,316}</string>
                <key>spriteSourceSize</key>
                <string>{350,316}</string>
                <key>textureRect</key>
                <string>{{1,494},{350,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{594,173}</string>
                <key>spriteSourceSize</key>
                <string>{594,173}</string>
                <key>textureRect</key>
                <string>{{1,1},{594,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zidan_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{639,461},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zidan_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{970,583},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zidan_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{835,875},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zidan_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{970,647},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zidan_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{899,875},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zidan_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{981,711},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>actor_tp.png</string>
            <key>size</key>
            <string>{1055,976}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:635687d4edb12067f46c870ae7bafacd:32bbba819d57db32383b7b4f4fe2b4df:d494010ce519094fbfa1f72af7b121bd$</string>
            <key>textureFileName</key>
            <string>actor_tp.png</string>
        </dict>
    </dict>
</plist>
