<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blockbg/bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,960}</string>
                <key>spriteSourceSize</key>
                <string>{540,960}</string>
                <key>textureRect</key>
                <string>{{1083,1},{540,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blockbg/left_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{826,579}</string>
                <key>spriteSourceSize</key>
                <string>{826,579}</string>
                <key>textureRect</key>
                <string>{{1,817},{826,579}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blockbg/left_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,290}</string>
                <key>spriteSourceSize</key>
                <string>{160,290}</string>
                <key>textureRect</key>
                <string>{{1314,1383},{160,290}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blockbg/light_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,414}</string>
                <key>spriteSourceSize</key>
                <string>{161,414}</string>
                <key>textureRect</key>
                <string>{{898,1383},{161,414}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blockbg/light_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,814}</string>
                <key>spriteSourceSize</key>
                <string>{1080,814}</string>
                <key>textureRect</key>
                <string>{{1,1},{1080,814}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dutiao/beijing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{895,70}</string>
                <key>spriteSourceSize</key>
                <string>{895,70}</string>
                <key>textureRect</key>
                <string>{{1,1398},{895,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dutiao/dutiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{872,50}</string>
                <key>spriteSourceSize</key>
                <string>{872,50}</string>
                <key>textureRect</key>
                <string>{{1,1470},{872,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dutiao/guaiwu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,148}</string>
                <key>spriteSourceSize</key>
                <string>{130,148}</string>
                <key>textureRect</key>
                <string>{{829,817},{130,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dutiao/guangying.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{872,25}</string>
                <key>spriteSourceSize</key>
                <string>{872,25}</string>
                <key>textureRect</key>
                <string>{{1,1522},{872,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,84}</string>
                <key>spriteSourceSize</key>
                <string>{780,84}</string>
                <key>textureRect</key>
                <string>{{1,1549},{780,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{793,418}</string>
                <key>spriteSourceSize</key>
                <string>{793,418}</string>
                <key>textureRect</key>
                <string>{{829,963},{793,418}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>loading_tp.png</string>
            <key>size</key>
            <string>{1624,1634}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fcde6f7f29f95514540c4b3a06a862cc:4b40809f57ae00761bdebd27c0a587e3:16075ffed9f57641235c4c1007333242$</string>
            <key>textureFileName</key>
            <string>loading_tp.png</string>
        </dict>
    </dict>
</plist>
