<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btnHome/default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{508,130}</string>
                <key>spriteSourceSize</key>
                <string>{508,130}</string>
                <key>textureRect</key>
                <string>{{1,1},{508,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnReset/default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{493,126}</string>
                <key>spriteSourceSize</key>
                <string>{493,126}</string>
                <key>textureRect</key>
                <string>{{1,265},{493,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnResume/default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{508,130}</string>
                <key>spriteSourceSize</key>
                <string>{508,130}</string>
                <key>textureRect</key>
                <string>{{1,133},{508,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pause_tp.png</string>
            <key>size</key>
            <string>{510,392}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eaebf7b709998edb8ce292dd6e6c7bde:38d60e6cc195e45839ac40c83462c891:68131b933944867a34cf3c3925ff5e56$</string>
            <key>textureFileName</key>
            <string>pause_tp.png</string>
        </dict>
    </dict>
</plist>
