<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blockMask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,205}</string>
                <key>spriteSourceSize</key>
                <string>{1080,205}</string>
                <key>textureRect</key>
                <string>{{1,1},{1080,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bossEffect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{495,233}</string>
                <key>spriteSourceSize</key>
                <string>{495,233}</string>
                <key>textureRect</key>
                <string>{{1083,1},{495,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnBack/default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,104}</string>
                <key>spriteSourceSize</key>
                <string>{106,104}</string>
                <key>textureRect</key>
                <string>{{1580,1},{106,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnVideo/default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,95}</string>
                <key>spriteSourceSize</key>
                <string>{420,95}</string>
                <key>textureRect</key>
                <string>{{997,236},{420,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,161}</string>
                <key>spriteSourceSize</key>
                <string>{169,161}</string>
                <key>textureRect</key>
                <string>{{1419,236},{169,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{994,203}</string>
                <key>spriteSourceSize</key>
                <string>{994,203}</string>
                <key>textureRect</key>
                <string>{{1,208},{994,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>scene_tp.png</string>
            <key>size</key>
            <string>{1685,412}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54bcfb53ac323da380c56b47eb75ac30:f2f7fdcd35fa6505809d618f0cde6603:ba928a3e28980bcf9c613f6d57814fc0$</string>
            <key>textureFileName</key>
            <string>scene_tp.png</string>
        </dict>
    </dict>
</plist>
