<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blockBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{539,69}</string>
                <key>spriteSourceSize</key>
                <string>{539,69}</string>
                <key>textureRect</key>
                <string>{{1,165},{539,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>share/default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,162}</string>
                <key>spriteSourceSize</key>
                <string>{516,162}</string>
                <key>textureRect</key>
                <string>{{1,1},{516,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skip/default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,62}</string>
                <key>spriteSourceSize</key>
                <string>{313,62}</string>
                <key>textureRect</key>
                <string>{{519,1},{313,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>share_tp.png</string>
            <key>size</key>
            <string>{833,235}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab7addb4a3665e3ed8ca36de45828d0b:f092fa3ff25b784557728e4f025308c0:df119e68ab883029bf44379f41c0cfd8$</string>
            <key>textureFileName</key>
            <string>share_tp.png</string>
        </dict>
    </dict>
</plist>
