<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,125}</string>
                <key>spriteSourceSize</key>
                <string>{168,125}</string>
                <key>textureRect</key>
                <string>{{0,0},{168,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,125}</string>
                <key>spriteSourceSize</key>
                <string>{168,125}</string>
                <key>textureRect</key>
                <string>{{168,0},{168,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,125}</string>
                <key>spriteSourceSize</key>
                <string>{168,125}</string>
                <key>textureRect</key>
                <string>{{336,0},{168,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,125}</string>
                <key>spriteSourceSize</key>
                <string>{168,125}</string>
                <key>textureRect</key>
                <string>{{504,0},{168,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,125}</string>
                <key>spriteSourceSize</key>
                <string>{168,125}</string>
                <key>textureRect</key>
                <string>{{672,0},{168,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,125}</string>
                <key>spriteSourceSize</key>
                <string>{168,125}</string>
                <key>textureRect</key>
                <string>{{840,0},{168,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,125}</string>
                <key>spriteSourceSize</key>
                <string>{168,125}</string>
                <key>textureRect</key>
                <string>{{1008,0},{168,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,125}</string>
                <key>spriteSourceSize</key>
                <string>{168,125}</string>
                <key>textureRect</key>
                <string>{{1176,0},{168,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,125}</string>
                <key>spriteSourceSize</key>
                <string>{168,125}</string>
                <key>textureRect</key>
                <string>{{1344,0},{168,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,125}</string>
                <key>spriteSourceSize</key>
                <string>{168,125}</string>
                <key>textureRect</key>
                <string>{{1512,0},{168,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,125}</string>
                <key>spriteSourceSize</key>
                <string>{168,125}</string>
                <key>textureRect</key>
                <string>{{1680,0},{168,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bossHalo_tp.png</string>
            <key>size</key>
            <string>{1848,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6404f88ed092398d73b6876086a81e6:94454c16c443de78456de7567b4adec7:57f63a4d38c23280870bae3c957b2e39$</string>
            <key>textureFileName</key>
            <string>bossHalo_tp.png</string>
        </dict>
    </dict>
</plist>
