<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,81}</string>
                <key>spriteSourceSize</key>
                <string>{146,81}</string>
                <key>textureRect</key>
                <string>{{0,0},{146,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,81}</string>
                <key>spriteSourceSize</key>
                <string>{146,81}</string>
                <key>textureRect</key>
                <string>{{0,81},{146,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,82}</string>
                <key>spriteSourceSize</key>
                <string>{146,82}</string>
                <key>textureRect</key>
                <string>{{0,162},{146,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,82}</string>
                <key>spriteSourceSize</key>
                <string>{146,82}</string>
                <key>textureRect</key>
                <string>{{0,244},{146,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,83}</string>
                <key>spriteSourceSize</key>
                <string>{147,83}</string>
                <key>textureRect</key>
                <string>{{0,326},{147,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,81}</string>
                <key>spriteSourceSize</key>
                <string>{147,81}</string>
                <key>textureRect</key>
                <string>{{0,409},{147,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,83}</string>
                <key>spriteSourceSize</key>
                <string>{147,83}</string>
                <key>textureRect</key>
                <string>{{0,490},{147,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,83}</string>
                <key>spriteSourceSize</key>
                <string>{146,83}</string>
                <key>textureRect</key>
                <string>{{0,573},{146,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,82}</string>
                <key>spriteSourceSize</key>
                <string>{145,82}</string>
                <key>textureRect</key>
                <string>{{0,656},{145,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,81}</string>
                <key>spriteSourceSize</key>
                <string>{147,81}</string>
                <key>textureRect</key>
                <string>{{0,738},{147,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>eliteHalo_tp.png</string>
            <key>size</key>
            <string>{147,819}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39c834e0512e195258b5614792d3b9cf:94c158def4e191f157e211fb4ce334c5:fde91816cc94eff8dba5611e6bbd7c5d$</string>
            <key>textureFileName</key>
            <string>eliteHalo_tp.png</string>
        </dict>
    </dict>
</plist>
