<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-10}</string>
                <key>spriteSize</key>
                <string>{136,100}</string>
                <key>spriteSourceSize</key>
                <string>{194,148}</string>
                <key>textureRect</key>
                <string>{{331,141},{136,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-3}</string>
                <key>spriteSize</key>
                <string>{136,114}</string>
                <key>spriteSourceSize</key>
                <string>{194,148}</string>
                <key>textureRect</key>
                <string>{{1,137},{136,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{144,118}</string>
                <key>spriteSourceSize</key>
                <string>{194,148}</string>
                <key>textureRect</key>
                <string>{{491,1},{144,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{156,124}</string>
                <key>spriteSourceSize</key>
                <string>{194,148}</string>
                <key>textureRect</key>
                <string>{{173,127},{156,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{164,124}</string>
                <key>spriteSourceSize</key>
                <string>{194,148}</string>
                <key>textureRect</key>
                <string>{{173,1},{164,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{170,134}</string>
                <key>spriteSourceSize</key>
                <string>{194,148}</string>
                <key>textureRect</key>
                <string>{{1,1},{170,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{150,138}</string>
                <key>spriteSourceSize</key>
                <string>{194,148}</string>
                <key>textureRect</key>
                <string>{{339,1},{150,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>frozen_tp.png</string>
            <key>size</key>
            <string>{610,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d74fcfd92c652ecef73d603d5998b738:2fe8b016f117e76e0f8e12a524bd9bbb:a97e9804cccfe6ba2e203c3db3d8a46e$</string>
            <key>textureFileName</key>
            <string>frozen_tp.png</string>
        </dict>
    </dict>
</plist>
